<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * This file is part of Mbiz_Maps for Magento.
 *
 * @license All rights reserved.
 * @author Léo Peltier <l.peltier@monsieurbiz.com>
 * @category Mbiz
 * @package Mbiz_Maps
 * @copyright Copyright (c) 2013 Monsieur Biz (http://monsieurbiz.com/)
 */
-->
<config>
    <modules>
        <Mbiz_Maps>
            <version>1.0.0</version>
        </Mbiz_Maps>
    </modules>
    <global>
        <helpers>
            <mbiz_maps>
                <class>Mbiz_Maps_Helper</class>
            </mbiz_maps>
        </helpers>
        <blocks>
            <mbiz_maps>
                <class>Mbiz_Maps_Block</class>
            </mbiz_maps>
        </blocks>
        <models>
            <mbiz_maps>
                <class>Mbiz_Maps_Model</class>
            </mbiz_maps>
        </models>
    </global>
</config>
